OMOP_VOCABULARIES/input_omop_vocabulary/*
!OMOP_VOCABULARIES/input_omop_vocabulary/README.md
OMOP_VOCABULARIES/output_omop_vocabulary/*
!OMOP_VOCABULARIES/output_omop_vocabulary/README.md
OMOP_VOCABULARIES/temp_omop_vocabulary/*
!OMOP_VOCABULARIES/temp_omop_vocabulary/README.md
OMOP_VOCABULARIES/USAGI_with_FinnOMOP/*
#OMOP_VOCABULARIES/USAGI_with_FinnOMOP.zip
.vscode/*